* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 50px;
}

.container {
    margin: 0 auto;
    background: yellow;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
}

.item {
    background: purple;
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-right: 5px;
}