* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 80%;
    height: 400px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    height: 200px;
}

.green, .purple {
    flex-grow: 1;
}

.green {
    background: limegreen;
}

.yellow {
    background: yellow;
    flex-grow: 2;
}

.purple {
    background: purple;
}