* {
    margin: 4px;
    box-sizing: border-box;
}

body {
    text-align: center;
}

p {
    width: 264px;
    background: url(duck.png) no-repeat;
    background-size: 70px;
    background-position: left center; 
    background-color: rgb(255, 99, 71);
    color: white;
    font-family: Courier, monospace;
    font-size: 16px;
    padding: 20px 30px;
}

p:first-child, p:nth-child(2) {
    margin-bottom: 8px;
}

p:first-child {
    padding: 20px 32px;
}

p:nth-child(2) {
    background-size: 150px;
    background-position: center; 
    background-color: rgb(100, 53, 121);
}

p:nth-child(3) {
    background-size: 70px;
    background-position: right bottom; 
    background-color: rgb(128, 128, 128);
}