body {
    width: 460px;
}

p {
    display: inline-block;
    width: 140px;
    height: 140px;
    border-radius: 70px;
    background-color: rgb(12, 235, 222);
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 140px; 
    margin: 6px 5px;
}
p:first-child {
    background-color: rgb(185, 12, 235);
}
p:last-child {
    background-color: rgb(235, 190, 12);
}