* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: sans-serif;
    text-align: center;
    vertical-align: middle;
    font-size: 36px;
    line-height: 128px;
    margin: 2px;
}

p {
    color: white;
    border: 16px solid rgb(66, 133, 244);
    border-bottom: 0;
    width: 348px;
    height: 128px;
    background-color: rgb(230, 118, 118);
}

p:nth-child(2) {
    border-top: 0;
    background-color: rgb(242, 240, 98);
}
p:nth-child(3) {
    border-top: 0;
    background-color: rgb(169, 230, 230);
}
p:nth-child(4) {
    border-top: 0;
    background-color: rgb(118, 146, 228);
    border-bottom: 16px solid rgb(66, 133, 244);
}


