* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 800px;
    height: 400px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    width: 200px;
    height: 200px;
}

.green {
    background: limegreen;
}

.yellow {
    background: yellow;
}

.purple {
    background: purple;
}